
/*-- started by mahi --*/
.menu279{
	font-size: 15px;
    font-weight: 500;
    font-family: sans-serif;
	margin-top: 15px;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dark1{
	position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    color: white;
}
/*-- ended here --*/
.image .heading {
  color: #ffffff;
  text-align: center;
  padding-top: 250px;
  font-size: 54px;
  font-weight: 600px;
}
.image p {
  text-align: center;
  padding: 9px 60px;
  color: #ffffff;
  font-size: 27px;
}
.image p .btn {
  background-color: transparent;
  color: #ffffff !important;
  border: 1px solid #ffffff;
  padding: 10px;
  font-size: 1.0em;
}
.image p .btn:hover {
  color: #ffffff !important;
  border-color: #ffffff;
  background-color: transparent !important;
}

.navbar {
  height: 80px;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;

}

.navbar-default .navbar-brand {
 
  color: white;
}
.navbar-default .navbar-brand:hover {
  color: #ffffff;
  
}
.navbar-default .navbar-nav > li > a {
  color: white;
  margin: 10px 5px 5px 5px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.navbar-default .navbar-nav > li > a:visited {
  color: #ffffff;
  text-decoration: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent !important;
}
.navbar-default .navbar-toggle .icon-bar {
  color: #ffffff;
  background-color: #ffffff;
}
.navbar-default .navbar-collapse.collapse.in ul {
  background-color: #000000;
}

/* Solid class attached on scroll past first section */
.navbar.solid {
  background-color: #000000;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}
.navbar.solid .navbar-brand {
  color: #ffffff;
  transition: color 1s ease 0s;
}
.navbar.solid .navbar-nav > li > a {
  color: #ffffff;
  transition: color 1s ease 0s;
}

/*--scroll button--*/

#section07 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg07.jpg) center center / cover no-repeat;}

section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 30%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section07 a {
  padding-top: 80px;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}